.education
  .ed-items.row
    .ed-item.col-md-4
      img.ed-images(src='/static/images/treehouse.png', alt='Treehouse Logo')
      p.institution Treehouse
      p.degree
        a(href='https://www.credential.net/11940297', target='_blank') Full Stack JavaScript
      p.years 2018
    .ed-item.col-md-4
      img.ed-images(src='/static/images/calvin-college.svg', alt='Calvin College Logo')
      p.institution Calvin College
      p.degree Finance/International Relations
      p.years 2018
    .ed-item.col-md-4
      img.ed-images(src='/static/images/coursera.png', alt='Coursera Logo')
      p.institution Duke University - Coursera
      p.degree
        a(href='https://www.coursera.org/account/accomplishments/specialization/EUCAZF7MRNWV', target='_blank') Java Programming and Software Engineering Fundamentals
      p.years 2016
