.cont
  .intro
    h3 Full Stack Developer
    p I create beautifully simple code that works, and I enjoy it!
    img(src='/static/images/pageopener.png', alt='Arum Bitmoji')
  .experience.row
    .no-padding.col-sm-6
      img(src='/static/images/leftright.jpg', alt='Left Right Brain Art')
    .no-padding.short-bio.col-sm-6
      h4 Hi, I'm Arum Galadima.
      p.bio
        | Since discovering the joys of programming nearly 5 years ago, I've spent a significant amount of time developing my front and back end skills through a number of projects.
        | I'm always looking for challenges whether it's with different frameworks like TensorFlow, learning different languages and databases, experimenting with new development techniques, etc.
        | I look forward to working with you on whatever exciting projects you have going on.
