.projects
  div
    h3 -Recent Projects-
  .row
    a.no-dec(href='https://github.com/agaladima/MVN2', target='_blank')
    .proj-cont.col-lg-4
      a.no-dec(href='https://github.com/agaladima/MVN2', target='_blank')
        img.proj-images(src='/static/images/realtimedb.png', alt='Real time database')
        .middle
          .text-image
            | Web app that reads an uploaded file, imports the data into MySQL, and displays the data. The MySQL data can be pushed
            | individually to Firebase Cloud Firestore with another MySQL table displaying
            | data that has been pushed. When changes are made in Firebase, the changes are realized in realtime and adjusted in MySQL.
      br
      .tech-pills
        span.tech-pill.back Node.js
        span.tech-pill.front HTML
        span.tech-pill.front CSS
        span.tech-pill.back Firebase
        span.tech-pill.back MySQL
        br
        span.tech-pill.back Express.js
        span.tech-pill.front jQuery
        span.tech-pill.front npm
    a.no-dec(href='https://stockr-tree.herokuapp.com', target='_blank')
    .proj-cont.col-lg-4
      a.no-dec(href='https://stockr-tree.herokuapp.com', target='_blank')
        img.proj-images(src='/static/images/webapp.jpg', alt='Real time database')
        .middle
          .text-image
            | Web app on Heroku that authorizes and authenticates users. User data is stored in MongoDB.
            | Users can search for stock using company name or ticker symbol. That user input is send to
            | a Google News API and returns a list of related news. The user can then send specific articles
            | to their email address stored in MongoDB via a npm package.
      br
      .tech-pills
        span.tech-pill.back Node.js
        span.tech-pill.front HTML
        span.tech-pill.front CSS
        span.tech-pill.back MongoDB
        span.tech-pill.back Mongoose
        br
        span.tech-pill.back Express.js
        span.tech-pill.front jQuery
        span.tech-pill.front npm
        span.tech-pill.back Heroku
    a.no-dec(href='https://github.com/agaladima/', target='_blank')
    .proj-cont.col-lg-4
      a.no-dec(href='https://github.com/agaladima/', target='_blank')
        img.proj-images(src='/static/images/github-projects.png', alt='Real time database')
        .middle
          .text-image
            | Check out my GitHub repositories to find more projects.
      br
      .tech-pills
        span.tech-pill.back Node.js
        span.tech-pill.front HTML
        span.tech-pill.front CSS
        span.tech-pill.back MongoDB
        span.tech-pill.back Mongoose
        br
        span.tech-pill.back Express.js
        span.tech-pill.front jQuery
        span.tech-pill.front npm
        span.tech-pill.front React.js
        span.tech-pill.back Java
        span.tech-pill.back Heroku
