.social-media
  .container
    .row
      .col
        a(href='https://github.com/agaladima')
          img.soc-images(src='/static/images/social/github.svg', alt='GitHub Logo')
      .col
        a(href='https://www.linkedin.com/in/arum-jugu-galadima-97a70428/')
          img.soc-images(src='/static/images/social/linkedin.png', alt='LinkedIn Logo')
      .col
        a(href='https://twitter.com/GSMbyAIR')
          img.soc-images(src='/static/images/social/twitter.svg', alt='Twitter Logo')
      .col
        a(href='https://www.instagram.com/alhajimallamu/')
          img.soc-images(src='/static/images/social/instagram.png', alt='Instagram Logo')
      .col
        a(href='https://www.facebook.com/arum.galadima')
          img.soc-images(src='/static/images/social/facebook.png', alt='Facebook Logo')
  p.footer.center Copyright © 2018 Arum Galadima
