.technology
  .tech-container.row
    .tech-item.front-end.col-md-4
      img(src='/static/images/frontend.png', alt='Front end Image')
      .tech-item-content
        h4 Front-end Developer
        p.tech-title Tech Used:
        p HTML, CSS, JavaScript, Pug, Sass
        p.tech-title Dev Tools:
        li Atom
        li jQuery
        li Bootstrap
        li Github
        li Terminal
        li npm
        li Sublime
        li Chrome Developer Tools
        li React.js
    .tech-item.back-end.col-md-4
      img(src='/static/images/backend.png', alt='Back end Image')
      .tech-item-content
        h4 Back-end Developer
        p.tech-title Tech Used:
        p JavaScript, Java, Node.js
        p.tech-title Dev Tools:
        li Apache
        li MySQL
        li MongoDB
        li Firebase
        li XAMPP
        li Slack
        li Express.js
        li Heroku
    .tech-item.interests.col-md-4
      img(src='/static/images/interests.png', alt='Interests Image')
      .tech-item-content
        h4 Interests
        p.tech-title Freetime:
        li Studying philosophy
        li Learning different frameworks/technologies
        li Playing with my Raspberry Pi
        li Playing any sports (mainly soccer & basketball)
        li Hiking
        li Talking to friends
        li Hanging out with squirrels
