body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

.nav {
  background-color: #3c3c3c;
  position: fixed;
  width: 100%;
 }

.nav-item {
  margin: auto;
  font-size: 14px;
 }

.nav-item {
  position: relative;
  float: right;
}

.dropdown a {
  font-size: 14px;
}

.hiding{
  color: tomato;
}

.nav-link {
  color: white;
}

a:hover {
  color: #dfdfdf;
}

.nav-thumb {
  position: relative;
  width: 35px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: brightness(200%); 
}

.fullsize-img {
  display: block;
  margin: auto;
  width: 15%;
}

.thumb {
  float: right;
  width: 30px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.main-body h1 {
  font-family: 'Encode Sans Expanded';
  font-size: 5rem;
}

.main-sub-content {
  padding-top: 15em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 15em;
  background-color: #FFF0E6;
}

.main-sub-content h1 {
  font-family: 'Encode Sans Expanded';
  font-size: 5rem;
  color: #4F4F4F;
  text-align: center;
}

.main-sub-content p {
  font-style: oblique;
  color: #808080;
  text-align: center;
}

.main-sub-content h5 {
  color: #4F4F4F;
  text-align: center;
}

.sub-content {
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
  background-color: #F7F7F7;
  margin-top: 1em;
  margin-bottom: 1em;
}

#sub-cont-title {
  color: tomato;
  font-size: 3em;
}

.resume {
  float: right;
  margin-top: 1em;
}

.resume-download {
  padding-left: .5em;
}

.cert-date {
  font-size: .75em;
  color: gray;
}

.thumb-resume {
  position: relative;
  float: right;
  width: 20px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cont img {
  height: 10em;
  background-repeat: no-repeat;
}

.cont {
  float: left;
  width: 20%;
}

.box {
  border-width: thin;
  border-style: solid;
  border-color: tomato;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.experience-item {
    border-left: 1.5px solid rgba(0,0,0,.1);
    margin-left: 24%;
}

.company {
  color: tomato;
  margin-top: 0;
  margin-bottom: 0;
}

.dates-worked {
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}

.role {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.both-forms {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  padding: 0 1em;
}

.nba-box {
  width: 49.5%;
  background-image: url('https://coursesearch.uchicago.edu/cs/prdguest/cache/UC_SEARCH_ICON_170616.PNG');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #F7F7F7;
}

.nbax {
  width: 49.5%;
  background-color: #24292e;
  text-align: center;
  color: white;
}

.lower-bold {
  text-align: center;
  font-weight: bold;
  padding-top: 1.5em;
}

.description-nba {
  font-weight: bold;
  font-size: 1.5em; 
  text-align: center;
  padding: 1.5em 0 0 0;
}

.form {
  margin: auto;
  width: 50%;
  padding-bottom: 1em;
}

.btn-srch {
  text-align: center;
  margin: .5em;
  border-radius: 5px;
}

label {
  font-weight: bold;
  padding: 1em 0 0 0;
}

.contact-form {
  background-color: #F7F7F7;
  margin: 1em;
  padding: 2em;
}

.center {
  text-align: center;
}

.input-border {
  list-style-type: none;
}

.form-body {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-width: thin;
  border-style: solid;
  border-color: #24292e;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px #E0EEF1;
}

.form-body input {
  width: 100%;
  border-radius: 5px;
}

.form-body textarea {
  width: 100%;
  height: 10em;
  border-radius: 5px;
}

.form-btn {
  height: 4em;
  border-radius: 5px;
  background-color: #11C3EF;
  color: white;
  font-weight: bold;
}





.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}