#contact-form.contact-form
  h2.lower-bold Contact Me
  p.center
    | Please use the form below to let me know why you're contacting me. I promise I'll respond
  form(name='contact-reason', action='#contact-form', method='post')
    .center
      ul.input-border
        li.dropdown
          label(for='contact-type') I'm Contacting About:
          br
          select#contact-type(name='contact-type')
            option(value='') Select Contact Category:
            option(value='General') General Inqueries
            option(value='JobOp') Job Opportunity
            option(value='Networking') Networking
            option(value='Podcast') KB Podcast
            option(value='Other') Other
    .form-body
      label(for='fname') First Name
      br
      input#fname(type='text', name='first', placeholder='Your first name...')
      br
      label(for='lname') Last Name
      br
      input#lname(type='text', name='last', placeholder='Your last name...')
      br
      label(for='location') Location
      br
      input#location(type='text', name='location', placeholder='Your location...')
      label(for='email') Email
      br
      input#mail(type='email', name='user-email', placeholder='Your email...')
      br
      label(for='subject') Subject
      br
      input#subject(type='text', name='subject', value='')
      br
      label(for='subject') Message
      br
      textarea#message(name='message', placeholder='Write something..')
      br
      input.form-btn(type='submit', value='Submit')
