#exp.sub-content
  .resume
    | Download My Resume
    a(href="download/Resume_Arum_Galadima.docx" download="")
      span.resume-download
        img.thumb-resume(src="http://www.jobsxs.com/wp-content/uploads/2017/11/download-download-icon.png")
  br
  br
  .cont
    p#sub-cont-title Experience
    img(src="https://image.ibb.co/ffxRjG/pageopener.png")
    br
    br
    hr
    h4.exp-sub-head Certifications
    h6
      a(href="https://www.coursera.org/account/accomplishments/specialization/EUCAZF7MRNWV" target="_blank") Java Programming and Software Engineering Fundamentals
    p.cert-date July 2016 - December 2016
    h6
      a(href="") Full Stack JavaScript Tech Degree
    p.cert-date June 2017 - March 2018
    br
    hr
    h4.exp-sub-head Technologies
    p.exp-sub
      | Java, JavaScript, HTML, CSS, SASS, Bootstrap, jQuery, JSON, AJAX, Node.js, Express.js, React.js, Angular.js, JSP, Gulp.js, npm, APIs, Git, GitHub, Chrome Developer Tools, HTTP, Responsive Design
  .experience
    .experience-item
      .box
        h2.company Knowledge Bandits Network
        p.dates-worked January 2017 - Present
        p.role Founder &amp Host
      .box
        h2.company Certified Contractors Network
        p.dates-worked January 2017 - Present
        p.role IT Coordinator &amp Member Services Specialist
      .box
        h2.company Chropix
        p.dates-worked September 2015 - June 2017
        p.role Cofounder &amp CEO
      .box
        h2.company Coporate Council on Africa
        p.dates-worked September 2014 - June 2016
        p.role Agribusiness Associate
      .box
        h2.company Gordon Food Service
        p.dates-worked June 2013 - September 2014
        p.role Data Integrity Analyst
      .box
        h2.company Blackford Capital
        p.dates-worked January 2013 - May 2013
        p.role Investment Analyst
      .box
        h2.company School Dudes Rapid Food
        p.dates-worked November 2012 - June 2013
        p.role Cofounder
      .box
        h2.company Calvin College - Student Bike Program
        p.dates-worked September 2011 - September 2012
        p.role Director
      .box
        h2.company Calvin College
        p.dates-worked September 2008 - May 2013
        p.role Student
