ul.nav
  li.nav-item
    a.nav-link.active(href="#")
      img.nav-thumb(src="https://render.bitstrips.com/v2/cpanel/2af24209-ea90-4912-9223-4c54c650559a-50fa634c-485b-4316-ade7-8d669b1647d6-v1.png?transparent=1&palette=1")
  li.nav-item
    a.nav-link(href="#exp") Experience
  li.nav-item
    a.nav-link(href="#nba") NBA Player Search
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Social
    .dropdown-menu
      a.dropdown-item.showing(href="https://www.facebook.com/arum.galadima" target="_blank")
        | Facebook
        img.thumb(src="http://www.taguaturveiculos.com.br/assets/frontend/images/fbook.png" alt="Facebook Logo")
      a.dropdown-item.hiding(href="https://www.facebook.com/arum.galadima" target="_blank") Arum Galadima
      a.dropdown-item.showing(href="https://twitter.com/GSMbyAIR" target="_blank")
        | Twitter
        img.thumb(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Twitter_font_awesome.svg/1024px-Twitter_font_awesome.svg.png" alt="Twitter Logo")
      a.dropdown-item.hiding(href="https://twitter.com/GSMbyAIR" target="_blank") @GSMbyAIR
      // when clicked my userhandle is displayed for IG and SnapChat and add logo to side of the dropdown item
      a.dropdown-item.showing(href="#")
        | Instagram
        img.thumb(src="http://moziru.com/images/logo-clipart-instagram-6.png" alt="Instagram Logo")
      a.dropdown-item.hiding(href="#") @alhajimallamu
      a.dropdown-item.showing(href="#")
        | Snapchat
        img.thumb(src="http://cdn.onlinewebfonts.com/svg/img_416109.png" alt="Snapchat Logo")
      a.dropdown-item.hiding(href="#") @yah-row
      a.dropdown-item.showing(href="https://www.linkedin.com/in/arum-jugu-galadima-97a70428" target="_blank")
        | LinkedIn
        img.thumb(src="https://cdn.onlinewebfonts.com/svg/img_212273.png" alt="LinkedIn Logo")
      a.dropdown-item.hiding(href="https://www.linkedin.com/in/arum-jugu-galadima-97a70428" target="_blank") Arum Galadima
      a.dropdown-item.showing(href="https://github.com/agaladima" target="_blank")
        | GitHub
        img.thumb(src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Github Logo")
      a.dropdown-item.hiding(href="https://github.com/agaladima" target="_blank") @agaladima
      a.dropdown-item.showing(href="https://soundcloud.com/dj-ximer-1/tracks" target="_blank")
        | SoundCloud
        img.thumb(src="http://www.jackmazzoni.com/wp-content/uploads/1418895273_social-034_soundcloud.png" alt="SoundCloud Logo")
      a.dropdown-item.hiding(href="https://soundcloud.com/dj-ximer-1/tracks" target="_blank") @yah'row
      .dropdown-divider
      a.dropdown-item(href="https://www.knowledgebandits.com/" target="_blank") Knowledge Bandits
  li.nav-item
    a.nav-link(href="#contact-form") Contact