.main-body
  .main-sub-content
    h1
      | FULL  STACK  DEVELOPER
      span.blinking-cursor _
    img.fullsize-img(src="../images/pageopener.png" alt="Arum Bitmoji")
    p
      | I just want to build cool things with smart people . . . but sometimes I'd like a nap
    h5 Specializing in building concise web apps from the ground up, from back to front
