.main-body
  .main-sub-content
    h1.dev-title
      | FULL  STACK  DEVELOPER
      span.blinking-cursor _
    img.fullsize-img(src="https://image.ibb.co/ffxRjG/pageopener.png" alt="Arum Bitmoji")
    p.about-me
      | I just want to build cool things with smart people . . . but sometimes I'd like a nap
    h5.about-me-sub Specializing in building concise web apps from the ground up, from back to front
