extends layout
block content
	.main-section
		include includes/header.pug
		include includes/topbody.pug
		include includes/experience.pug
		include includes/nba.pug
		include includes/contact.pug
	include includes/footer.pug
	script
		include ../js/script.js